{%extends "base.html"%}


{% block title%} Profile | {{request.user.profile}} {% endblock%}

{% block content%}


<h1>
 {{ userProfile.first_name }}
    {{ userProfile }}
</h1>

<div>
Phone:
{{userProfile.profile.phone}}
</div>
<div>
Info:
{{userProfile.profile.info}}
</div>


{% if request.user.profile == userProfile.profile %}
<a href="{%url 'edituser' %}"> Edit User </a>

{% elif userProfile == friend %}
<a href="{%url 'change_friends' verb='remove'  username=userProfile.profile %}"> Remove </a>

{%else%}

<a href="{%url 'change_friends' verb='add'  username=userProfile.profile %}"> Follow </a>

{%endif%}



<h2>Friends </h2>


{% for friend in friends %}
    <li>
          <a href="{%url 'profile' friend.username %}">

        {{friend}}
    </a>


    {% if userProfile == friend %}
     <a href="{%url 'change_friends' verb='remove'  username=friend.username %}"> Remove</a>

        {% else  %}
     <a href="{%url 'change_friends' verb='add'  username=friend.username %}"> add </a>
{%endif%}
    </li>
{%endfor%}



{% endblock %}